<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Detalle Aviso</title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    
    <div class="navbar">
        <h1>Sistema de Adopciones</h1>
        <a class="navbar-page" href="agregar.html">Agregar aviso</a>
        <a class="navbar-page" href="listado.html">Ver listado</a>
        <a class="navbar-page" href="index.html">Portada</a>
     </div>

    <h2> Cantidad de aviso por dia</h2>
    <img src="img/lineas.png" width="500" alt="lineas">

    <h2> Distribución por tipo</h2>
    <img src="img/torta.png" width="500" alt="torta">

    <h2> Aviso por mes</h2>
    <img src="img/barras.png" width="500" alt="barra">

    <br>
    <a href="index.html"> Volver a la portada</a>
  </body>
</html>
