<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    
    <div class="main-container">
      <h2> Estadísticas de Avisos de Adopcion</h2>
      <div id="chartPorDia" style="width:80%; height: 400px; margin: auto;"></div>
      <div id="chartPorTipo" style="width:80%; height: 400px; margin: auto;"></div>
      <div id="chartPorMesTipo" style="width:80%; height: 400px; margin: auto;"></div>

      <br>
      <a href="{{ url_for('index') }}"> Volver a la portada</a>
    </div>

    
    <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    
  </body>
</html>
